html {
	font-size: 15pt;
	background-color: lightblue;
	color: darkblue;
}

body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

div#navbar 
{
	background-color: white;
	box-shadow: 2px 2px 5px gray;	
}

div#navbar h1
{
	font-size: 450%;
	color: lightblue;
	text-shadow: 2px 2px 5px gray;
	text-align: center;
}

div#navbar img
{
	margin-left: auto;
}

div#navbar ul li
{
	display: inline;
	width: 300px;
	padding: 5px;
	padding-left:20px;
	padding-right:20px;
	box-shadow: 2px 2px 5px black;
	margin-left: 10px;
	color: darkblue;
	background-color: lightblue;
	
}

.warning {
	background-color: lightyellow;
	font: "Courier New", serif;
	font-style: italic;
	color: darkblue;
	padding: 10px;
}

.error {
	background-color: red;
	font: "Courier New", serif;
	font-weight: bolder;
	color: darkblue;
	padding: 10px;
}